input[type='submit'] {
  cursor: pointer;
  background: #00a9f1;
  color: #fff;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

label {
  color: #555;
  font-size: 1.0rem;
}

#image-content,
#image-content2 {

  img {
    width: 100%;
    height: auto;
  }
}

.preview {
  width: 300px;

  img {
    min-width: 280px;
    width: 100%;
    height: auto;
  }
}

.logout {
  cursor: pointer;
  background: #00a9f1;
  color: #fff;

  &:hover {
    background: #00a9f1;
    color: #fff;
    opacity: 0.8;
  }
}

.btn-edit {
  background: #17a2b8;
  color: #fff;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.btn-delete {
  background: #dc3545;
  color: #fff;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}