.select-img,
input[type=submit] {
  cursor: pointer;
  background: #00a9f1;
  color: #fff;
  margin: 0 auto;
}
.select-img:hover,
input[type=submit]:hover {
  color: #fff;
  opacity: 0.8;
}

input[type=file] {
  display: none;
}
